@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cyan-primary: #47C1E8;
  --color-surface-bright: #F5FAFC;
  --color-deep-shadow: #171C1E;
  --color-channel-white: #FFFFFF;
  
  --font-anybody: var(--font-anybody), sans-serif;
  --font-hanken: var(--font-hanken), sans-serif;
}

:root {
  --background: #F5FAFC;
  --foreground: #171C1E;
}

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Esconder barra de rolagem mas permitir rolagem */
::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
